<section class="welcome-screen">
  <div fxLayoutAlign="center center" fxLayout="column" class="container">
    <button mat-raised-button color="accent" type="submit" routerLink="/drivers-info/drivers-table">Перейти к поиску</button>
  </div>
</section>
