.welcome-screen {
  background: url("/assets/welcome-page/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: calc(100vh - 66px);
  .container {
    height: 100%;
  }
}
