<section fxLayoutAlign.gt-sm="center center" class="driver-detail">
  <mat-card class="example-card" *ngIf="!isLoading" fxFlex.gt-sm="700px">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">LOGO</div>
      <mat-card-title>Пилот формулы 1</mat-card-title>
      <mat-card-subtitle>{{ pilot.givenName}} {{pilot.familyName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h2>Биография</h2>
      <p>
        {{pilot.givenName}} родился {{pilot.dateOfBirth | date: 'dd.MM.yyyy'}}
      </p>
      <h2>Национальность</h2>
      <p>{{pilot.nationality}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><a [href]=pilot.url>Подробнее о биографии гонщика</a></button>
    </mat-card-actions>
  </mat-card>
  <div fxLayoutAlign="center center" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

</section>
