<section class="data-table">
  <div fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutGap="12px" class="container">
    <form class="search-form" (ngSubmit)="loadDriversByYear(f)" #f="ngForm">
      <div fxLayoutAlign.xs="center center" fxLayout.xs="column" fxLayoutGap="18px">

        <mat-form-field>
          <input
            matInput
            type="number"
            placeholder="Cезон"
            ngModel
            name="season"
            minlength="4"
            maxlength="4"
            required
          >
          <mat-error *ngIf="f.invalid">Неверно указана дата</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="number"
            placeholder="Раунд"
            ngModel
            name="round"
            minlength="1"
            maxlength="2"
            required
          >
          <mat-error *ngIf="f.invalid">Неверно указана дата</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="f.invalid">Найти</button>
      </div>
    </form>
    <button mat-raised-button color="accent" (click)="loadAllPilots()">Поиск за все время</button>
  </div>

  <div fxLayoutAlign="center center" *ngIf="showTable">
    <mat-form-field fxFlex="40%">
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Поиск">
    </mat-form-field>
  </div>

  <ng-container *ngIf="season">
    <div fxLayoutAlign="center center" fxLayoutGap.gt-xs="25px" fxLayoutGap.xs="12px" fxLayout.xs="column" >
      <h3 class="title"> Сезон: {{season}}, раунд {{round}} </h3>
      <button mat-raised-button color="warn" (click)="openResultsPage(f)">Посмотреть результаты заезда</button>
    </div>
  </ng-container>
  <div *ngIf="isLoading" fxLayoutAlign="center center" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>

  <ng-container *ngIf="!isLoading && showTable">

    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="driver">
        <mat-header-cell *matHeaderCellDef>Пилот</mat-header-cell>
        <mat-cell style="cursor: pointer" *matCellDef="let element">
          <a matLine
             [routerLink]="['/drivers-info/drivers-table/driver-detail/', element.familyName]"> {{ element.givenName }} {{element.familyName }}</a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="dateOfBirth">
        <mat-header-cell *matHeaderCellDef>Дата рождения</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.dateOfBirth | date: 'dd.MM.yyyy'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="nationality">
        <mat-header-cell *matHeaderCellDef>Национальность</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.nationality }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="information">
        <mat-header-cell *matHeaderCellDef>Информация</mat-header-cell>
        <mat-cell *matCellDef="let element"><a matLine [href]=element.url>Биография</a></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [length]="100"
                   [pageSize]="tablePageSize"
                   [pageIndex]="0"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="getNext($event, f)">
    </mat-paginator>
  </ng-container>

</section>
