.container {
  margin-top: 12px;
}
.title {
  color: #673ab7;
}

a {
  text-decoration: none;
  color: #000;

  &:hover, &:active {
    color: #673ab7;
  }
}

.search-form {
  padding-top: 6px;
}

.spinner-container {
  margin-top: 18px;
}

@media screen and (max-width: 350px) {
  mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 12px;
  }
}

mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
  padding-right: 12px;
}
