<section class="round-results-screen">
  <div class="title" fxLayoutAlign="center center">
    <h1>Таблица результатов заезда</h1>
  </div>
  <div *ngIf="isLoading" fxLayoutAlign="center center" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>

  <div fxLayoutAlign="center center" *ngIf="showTable">
    <mat-form-field fxFlex="40%">
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Поиск">
    </mat-form-field>
  </div>
  <ng-container *ngIf="!isLoading && showTable">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="pos">
        <mat-header-cell *matHeaderCellDef>Позиция</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef>Номер</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.number | number}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="driver">
        <mat-header-cell *matHeaderCellDef>Пилот</mat-header-cell>
        <mat-cell *matCellDef="let element"> <span fxHide.xs>{{ element.Driver.givenName }}</span> {{element.Driver.familyName }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="constructor">
        <mat-header-cell *matHeaderCellDef>Команда</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Constructor.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="laps">
        <mat-header-cell *matHeaderCellDef>Круги</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.laps}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="grid">
        <mat-header-cell *matHeaderCellDef>Сетка</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.grid}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef>Время</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Time?.time}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Статус</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="points">
        <mat-header-cell *matHeaderCellDef>Очков</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.points}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [length]="100"
                   [pageSize]="tablePageSize"
                   [pageIndex]="0"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="getNext($event)">
    </mat-paginator>
  </ng-container>
</section>
