.round-results-screen {
  .title {
    color: #673ab7;

    h1 {
      text-align: center;
    }
  }
}


@media screen and (max-width: 500px) {
  mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 12px;
  }
  mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
    padding-right: 12px;
  }
  .mat-cell, .mat-footer-cell {
    font-size: 12px;
  }
}

