<section class="not-found-screen">
  <div fxLayoutAlign="center center" fxLayout="column" class="container">
    <h1 class="title">Страница не найден!</h1>
    <button mat-raised-button color="accent" routerLink="/">На главную</button>
  </div>
</section>
